In [36]:
import dash_leaflet as dl
import pandas as pd
import os

In [37]:
# Read brussel intervention examples
def read_intervention_data(file_path='data/intervention_all0528.xlsx'):
    # 获取当前工作目录
    base_dir = os.getcwd()
    # 拼接相对路径，得到文件的绝对路径
    full_path = os.path.join(base_dir, file_path)
    return pd.read_excel(full_path)

# 调用函数读取数据
intervention_data = read_intervention_data()
intervention_data

,Mission ID,PostalCode permanence,EventType Trip,EventLevel Trip,Latitude intervention,Longitude intervention,T3-T0 in Minutes,T0,T3,Abandon reason,target
0,10221520032,2930,P039,N4,51.29850,4.47723,8.713533,2022-06-01 04:05:01,2022-06-01 04:13:43.812,NaN,0
1,10221520047,2440,P003,N1,51.20685,5.13662,18.884917,2022-06-01 06:45:53,2022-06-01 07:04:46.095,NaN,0
2,10221520095,2040,P003,N1,51.24848,4.43869,4.238700,2022-06-01 09:28:15,2022-06-01 09:32:29.322,Overleden,1
3,10221520122,9150,P039,N5,51.20303,4.34549,11.099150,2022-06-01 10:40:18,2022-06-01 10:51:23.949,NaN,0
4,10221520175,2500,P039,N1,51.05218,4.63286,13.662567,2022-06-01 13:12:44,2022-06-01 13:26:23.754,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
17907,90230900122,5000,P039,N5,50.45987,4.83580,32.365200,2023-03-31 15:15:20,2023-03-31 15:47:41.912,NaN,0
17908,90230900192,5530,P039,N5,50.33426,4.90938,9.805167,2023-03-31 19:35:45,2023-03-31 19:45:33.310,NaN,0
17909,90230900197,5000,P039,N2,50.51792,4.77706,13.253700,2023-03-31 19:45:33,2023-03-31 19:58:48.222,NaN,0
17910,90230900214,1310,P039,N5,50.71017,4.51832,13.080250,2023-03-31 21:11:47,2023-03-31 21:24:51.815,NaN,0
17911,90230900232,5002,P039,N5,50.48248,4.88511,4.665183,2023-03-31 23:11:36,2023-03-31 23:16:15.911,Verzorgd ter plaatse,0

In [38]:
brussels_zip_codes = [
    1000, 1020, 1030, 1040, 1050, 1060, 1070, 1080, 1081, 1082, 1083,
    1090, 1100, 1110, 1120, 1130, 1140, 1150, 1160, 1170, 1180, 1190,
    1200, 1210
]

In [39]:
brussels_intervention_data = intervention_data[intervention_data['PostalCode permanence'].isin(brussels_zip_codes)]
brussels_intervention_data

,Mission ID,PostalCode permanence,EventType Trip,EventLevel Trip,Latitude intervention,Longitude intervention,T3-T0 in Minutes,T0,T3,Abandon reason,target
4340,10230820133,1090,P039,N2,51.024340,4.35450,40.814017,2023-03-23 11:19:43,2023-03-23 12:00:31.841,NaN,0
4441,20221520007,1000,P039,N5,50.852246,4.38360,11.183333,2022-06-01 00:09:18,2022-06-01 00:20:29.000,Weigering vervoer,0
4442,20221520375,1000,P039,N5,50.837399,4.29190,13.400000,2022-06-01 21:26:36,2022-06-01 21:40:00.000,NaN,0
4443,20221530039,1000,P039,N3,50.831794,4.34990,10.066667,2022-06-02 03:57:21,2022-06-02 04:07:25.000,NaN,0
4444,20221530080,1030,P039,N5,50.887912,4.42390,9.816667,2022-06-02 08:23:20,2022-06-02 08:33:09.000,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
7966,22230190043,1160,P039,N1,50.702240,4.64908,25.506200,2023-01-19 12:04:30,2023-01-19 12:30:00.372,NaN,0
7982,22230270081,1160,P039,N5,50.730680,4.42811,44.697017,2023-01-27 19:28:15,2023-01-27 20:12:56.821,NaN,0
8000,22230340020,1180,P039,N1,50.712860,4.38760,18.689267,2023-02-03 09:20:59,2023-02-03 09:39:40.356,NaN,0
8105,22230810052,1200,P039,N2,50.719610,4.60852,34.547750,2023-03-22 15:38:32,2023-03-22 16:13:04.865,NaN,0
12787,60223560154,1050,P039,N3,50.706250,4.41500,56.703517,2022-12-22 12:34:18,2022-12-22 13:31:00.211,NaN,0

In [40]:
brussels_intervention_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2928 entries, 4340 to 12787
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Mission ID              2928 non-null   int64
 1   PostalCode permanence   2928 non-null   int64
 2   EventType Trip          2928 non-null   object
 3   EventLevel Trip         2928 non-null   object
 4   Latitude intervention   2928 non-null   float64
 5   Longitude intervention  2928 non-null   float64
 6   T3-T0 in Minutes        2928 non-null   float64
 7   T0                      2928 non-null   datetime64[ns]
 8   T3                      2928 non-null   datetime64[ns]
 9   Abandon reason          383 non-null    object
 10  target                  2928 non-null   int64
dtypes: datetime64[ns](2), float64(3), int64(3), object(3)
memory usage: 274.5+ KB

### 这里我想把T0的时间转化下 变成只是日期的datetime 格式。然后groupby 月份 统计每个月的病例数 生存率 这里可以用于可视化。比如拖动滑条显示病例数的变化

### 但是有个问题 T0的日期数据有的还带小数点 需要转化下 且转化结束后需要看看是不是数据还完整 我之前试的每次转化不但三千条数据只剩500条 有问题

In [35]:
brussels_intervention_data.loc[:, 'T0'] = pd.to_datetime(brussels_intervention_data['T0'], errors='coerce').dt.date
brussels_intervention_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2927 entries, 4340 to 12787
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Mission ID              2927 non-null   int64
 1   PostalCode permanence   2927 non-null   int64
 2   EventType Trip          2927 non-null   object
 3   EventLevel Trip         2927 non-null   object
 4   Latitude intervention   2927 non-null   float64
 5   Longitude intervention  2927 non-null   float64
 6   T3-T0 in Minutes        2927 non-null   float64
 7   T0                      502 non-null    object
 8   T3                      2927 non-null   object
 9   Abandon reason          383 non-null    object
 10  target                  2927 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 274.4+ KB

In [ ]:
import pandas as pd
from geopy.distance import geodesic
from sklearn.neighbors import BallTree
import numpy as np
import googlemaps

# 使用你的Google Maps API密钥
api_key = 'AIzaSyAaMgtqAAp07HTqibk9KlYkHIfHYK2sutc'
gmaps = googlemaps.Client(key=api_key)

hospitals = pd.read_excel('hospitals.xlsx')
aed_all = pd.read_excel('AED_locations.xlsx')
aed_data = aed_all[['id', 'full_address', 'latitude', 'longitude', 'public']]
aed_data.dropna(axis = 0, inplace = True)
public_aed = aed_data[aed_data['public'] == 'yes']

# 确保索引连续
patients.reset_index(drop=True, inplace=True)


# 计算救护中心的直线距离
centers_coords = np.radians(hospitals[['latitude', 'longitude']])
tree_centers = BallTree(centers_coords, metric='haversine')
patients_coords = np.radians(patients[['latitude', 'longitude']])
distances_centers, indices_centers = tree_centers.query(patients_coords, k=5)

# 计算 AED 的直线距离
aed_coords = np.radians(public_aed[['latitude', 'longitude']])
tree_aed = BallTree(aed_coords, metric='haversine')
distances_aed, indices_aed = tree_aed.query(patients_coords, k=1)


# 定义一个函数来计算步行距离
def get_walking_distance(patient_location, center_location):
    try:
        result = gmaps.distance_matrix(origins=[patient_location],
                                       destinations=[center_location],
                                       mode="walking")
        if result['rows'][0]['elements'][0]['status'] == 'OK':
            distance = result['rows'][0]['elements'][0]['distance']['value']  # 距离以米为单位
            return distance
        else:
            print(f"Error in Google Maps API response: {result['rows'][0]['elements'][0]['status']}")
            return float('inf')
    except Exception as e:
        print(f"Exception occurred: {e}")
        return float('inf')

# 计算步行距离
def find_nearest_center(patient):
    patient_location = (patient['latitude'], patient['longitude'])
    patient_index = patient.name  # 使用index来代替name
    
    # 计算步行距离到最近的急救中心
    nearest_centers = indices_centers[patient_index]  # 获取直线距离最近的急救中心索引
    walking_distances_centers = []
    for center_index in nearest_centers:
        center = hospitals.iloc[center_index]
        center_location = (center['latitude'], center['longitude'])
        distance = get_walking_distance(patient_location, center_location)
        walking_distances_centers.append((distance, center['full_address']))
    min_distance_center, nearest_center_name = min(walking_distances_centers, key=lambda x: x[0])
    
    return nearest_center_name, min_distance_center

# 计算步行距离
def find_nearest_aed(patient):
    patient_location = (patient['latitude'], patient['longitude'])
    patient_index = patient.name  # 使用index来代替name
    
    # 计算步行距离到最近的 AED
    nearest_aeds = indices_aed[patient_index]  # 获取直线距离最近的 AED 索引
    aed_nearest = public_aed.iloc[nearest_aeds[0]]
    aed_location = (aed_nearest['latitude'], aed_nearest['longitude'])
    distance_aed = get_walking_distance(patient_location, aed_location)
    
    return aed_nearest['full_address'], distance_aed